.optbb {
    background-color: #313131 !important;
  }

.slideText {
    color: #cacad4  !important;
    font-size: 1.0rem;
}
  
  /* .optbb:hover,
  .optbb:focus {
    background-color: #ff7b3e !important;
  } */