body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  height: 100%;
}

.canvas {
  flex: 1;
  display: block;
  max-width: 100%;
  /* max-height: calc(100vh - 9vh); */
  width: 100%;
  height: 100%;
  /* position: fixed; */
}

.k-upload .k-dropzone {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  background-color: rgb(242, 242, 242) !important;

  padding: none !important;
  height: 90vh !important;
  justify-content: center !important;
}

.k-upload .k-upload-button {
  box-shadow: none !important;
  color: #fff !important;
  background-color: #40a9ff;
}

.k-upload .k-dropzone .k-upload-status,
.k-upload .k-dropzone .k-dropzone-hint {
  color: rgba(0, 0, 0, 0.85) !important;
}

.k-upload .k-dropzone .k-dropzone-hint {
  position: fixed !important;
  flex: none !important;
  margin-top: 6% !important;
}

.k-upload .k-dropzone .k-upload-status {
  position: fixed !important;
  margin-top: 6% !important;
}
input, button, select, optgroup, textarea {
  color: red !important;
}


/* .k-upload .k-upload-files {
  /* height: 10vh !important; */
/* } */
